.contact {
  background-color: transparent;
  padding: 80px 20px;
}

.contact h2 {
  text-align: center;
  font-size: 2rem;
  color: #004080;
  margin-bottom: 30px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background-color: #004080;
  color: #fff;
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #003060;
}

/* Responsive */
@media (max-width: 768px) {
  .contact {
    padding: 40px 10px;
  }

  .contact h2 {
    font-size: 1.5rem;
  }

  form {
    width: 100%;
    padding: 0 10px;
  }

  input,
  textarea {
    font-size: 0.95rem;
  }

  button {
    font-size: 1rem;
  }
}
