<section class="contact-section" id="contact" data-aos="fade-up">
  <h2>Contactez-moi</h2>
  <p class="contact-subtitle">Un projet, une mission freelance ou une question ? Écrivez-moi !</p>

  <form (ngSubmit)="sendEmail()" #contactForm="ngForm">
    <input type="text" name="name" ngModel required placeholder="Votre nom" />
    <input type="email" name="email" ngModel required placeholder="Votre email" />
    <input type="text" name="title" ngModel placeholder="Sujet du message" required />
    <textarea name="message" rows="6" ngModel required placeholder="Votre message"></textarea>

    <button type="submit" class="contact-btn">Envoyer</button>
  </form>
</section>
