<section class="contact" data-aos="fade-up">
  <div class="container">
    <section id="contact">
      <h2>Contactez-moi</h2>
      <form (submit)="onSubmit()" #contactForm="ngForm">
        <input type="text" name="from_name" placeholder="Votre nom" required>
        <input type="email" name="reply_to" placeholder="Votre email" required>
        <textarea name="message" placeholder="Votre message" required></textarea>
        <button type="submit">Envoyer</button>
      </form>
    </section>
  </div>
</section>
