<section class="about" data-aos="fade-up">
  <div class="container">
      <div class="about-text">
        <h2>À propos de moi</h2>
        <p>
          Développeur Full Stack passionné, avec plus de 8 ans d'expérience dans le développement d’applications web performantes. Spécialisé en Java (Spring Boot) et Angular, j’interviens sur l’ensemble du cycle de développement, de la conception à la mise en production, en passant par l’intégration continue.

          Mes projets m’ont permis de travailler dans des environnements complexes (AWS, Kafka, architectures hexagonales, CQRS, programmation réactive), avec une forte attention à la qualité du code (tests unitaires, revue de code, CI/CD).

          J’ai évolué dans des contextes agiles (Scrum, SAFe), sur des missions à fort enjeu chez GRTgaz, Abeille Assurance, Enedis, Crédit Logement et Viamedis.

          Aujourd’hui, je cherche à mettre mes compétences au service de projets techniques ambitieux, dans une équipe engagée et collaborative.
        </p>
      </div>
      <div class="about-image">
        <img ngSrc="assets/profil1.png" alt="Youssef Rouimi" height="3023" width="2601"/>
      </div>
  </div>
</section>
