<nav class="navbar navbar-expand-lg fixed-top custom-navbar">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto responsive-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/" data-bs-toggle="collapse" data-bs-target="#navbarNav">Accueil</a>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/skills" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav">Compétences</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/projects" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav">Projets</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/experiences" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav">Expériences</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
